/* body {
    width: 960px;
} */

* {
    /* box-sizing: border-box; */
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.grid-container {
    background-color: black; 
    display: inline-block; 
    border: 5px solid black;
    width: 960px;
    height: 960px;

}

.grid {
    display: grid;
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16 1fr); */
    /* grid-gap: 1px; */
    width: 960px;
    height: 960px;
    
}   

.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 1px;
    min-width: 1px;
    border: 1px solid black;
    background-color: white;
}

